/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary (main-color): #e67e22

- Tints(light version of main color):
  #fdf2e9
  #fae5d3

- Shades(dark version of main color): 
  #cf711f

- Accents(secondary color):
-#51cf66

- Greys:
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
more on subtext color of heading: #555
dark version of #555: #333
light version of #555: #888



--- 05 SHADOWS

minimal shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075); 


--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px
large: 15px;

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* global setting ni sya sa mga buttons and links para inig
  click nila naay box-shadow mo-gawas */
*:focus {
  outline: none;
  box-shadow: 0 0 0 0.7rem rgba(230, 125, 34, 0.5);
}
html {
  /* 10px(what we want)/16px(default font -size)=0.625 = 62.5% */
  /* percentage of user's browser font-size setting */
  font-size: 62.5%;
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 1;
  color: #555;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;

  /* became header to be sticky later  */
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  height: 2.2rem;
}

/* ************************************************************************** */

/* navigation bar */

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
  align-items: center;
  /* padding: 1.2rem 2.4rem; */
}

/* navigation bar size */
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.8rem;
  border-radius: 9px;
}

/* navigation bar color */
.main-nav-link:link,
.main-nav-link:visited {
  color: #3b3b3b;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
  background-color: #fdf2e9;
}

/* start of special button  */
.main-nav-link.btn-nav:link,
.main-nav-link.btn-nav:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.btn-nav:hover,
.main-nav-link.btn-nav:active {
  background-color: #cf711f;
}
/* end of special button */

/* mobile icon nav */
.btn-mobile-nav {
  border: none;
  background-color: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* *********************************************************************** */

/* hero section */

.section-hero {
  background-color: #fdf2e9;
  /* height: 100vh; */
  padding: 4.8rem 0 9.6rem 0;
}
.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
}
.hero-img {
  width: 100%;
}
.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 105%;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
  color: #333;
}
.hero-description {
  font-size: 2rem;
  line-height: 150%;
  margin-bottom: 4.8rem;
}
.btn-hero:link,
.btn-hero:visited {
  font-size: 2rem;
  font-weight: 700;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  text-decoration: none;
  display: inline-block;
  margin-right: 12px;
}
.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
  transition: background-color 0.3s;
}
.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
  transition: all 0.5s;
}
.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px #fff;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}
.delivered-imgs {
  display: flex;
}
.delivered-imgs img {
  height: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}
.delivered-imgs img:last-child {
  margin: 0;
}
.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}
.delivered-text span {
  color: #e67e22;
  font-weight: 700;
}

/* *********************************************************************** */

/* feature section */

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}
.heading-featured-in {
  color: #888;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}
/* *********************************************************************** */

/* 2nd part of main page  */

.section-how {
  padding: 9.6rem 0;
}

/* container with default size 
    to center the page*/
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
/* ******************* */
.heading-secondary {
  color: #333;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.5px;
  font-size: 4.4rem;
  margin-bottom: 9.6rem;
}
.sub-heading {
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #cf711f;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
  /* need ug display:block if ang span element dili mo sunod sa 
            margin ug padding. */
  display: block;
}
.grid-cols-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 9.4rem;
  row-gap: 9.6rem;
}
.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}
.heading-tertiary {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
  letter-spacing: -0.5px;
}
.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}
.step-img-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-img-box::before {
  content: "";
  display: block;
  width: 60%;
  border-radius: 50%;
  /* 60% of paren't width. meaning with 60% width nag add ka ug padding
        sa bottom with 60% para mahimo siyang square 
        mura ra kag nag hatag ug height ani but used padding*/
  padding-bottom: 60%;
  background-color: #fdf2e9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}

.step-img-box::after {
  content: "";
  display: block;
  width: 45%;
  padding-bottom: 45%;
  border-radius: 50%;
  background-color: #fae5d3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.step-img {
  width: 35%;
}

/* *********************************************************************** */

/* 3rd part of webpage */

.section-meals {
  padding: 9.6rem 0;
}

.center-text {
  text-align: center;
}
.title-heading-meal {
  font-weight: 700;
  letter-spacing: -0.5px;
}
.grid-cols-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  margin-bottom: 4.8rem;
}
.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}
.meal:hover {
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.08);
  transform: translateY(-1.7rem);
  cursor: pointer;
}
.meal-img {
  width: 100%;
}
.meal-description {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}
.meal-tag {
  display: flex;
  margin-bottom: 1.2rem;
}
.tag-name-vege {
  background-color: #51cf66;
}
.tag-name-vegan {
  background-color: #94d82d;
}
.tag-name-paleo {
  background-color: #ffd43b;
}
.tag-name {
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}
.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}
.meal-attributes {
  list-style: none;
  display: Flex;
  flex-direction: column;
  gap: 2rem;
}
.meal-attribute {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  gap: 1.6rem;
}
strong {
  font-weight: 500;
}
.meal-icon {
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  color: #e67e22;
}
ul {
  list-style: none;
}
.meals-list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.list-item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.2;
  font-size: 1.8rem;
}
.icon-list {
  display: block;
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

/* link */
.meal-link {
  text-align: center;
  font-size: 1.8rem;
}

.recipe-link:link,
.recipe-link:visited {
  display: inline-block;
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}
.recipe-link:hover,
.recipe-link:active {
  border-bottom: 1px solid transparent;
}

/* *********************************************************************** */

/* 4th part of the webpage */
/* testimonials section */
.section-testimonials {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
  /* grid-template-columns: repeat(2, 1fr); */
  align-items: center;
}
.testimonials-container {
  padding: 9.6rem;
}
.testimonials-heading {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}
.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4.8rem;
  column-gap: 8rem;
}
.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}
.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}
.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

/* gallery section */
.gallery {
  padding: 1.6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}
.gallery-item img {
  width: 100%;
  display: block;
  transition: all 0.3s;
}
.gallery-item img:hover {
  transform: scale(1.12);
  cursor: pointer;
}
.gallery-item {
  overflow: hidden;
}

/* *********************************************************************** */
/* 5th part of webpage */

.section-pricing {
  padding: 9.6rem 0;
}
.grid-cols-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  row-gap: 9.6rem;
  margin-bottom: 4.8rem;
}
.grid-cols-2-gap {
  column-gap: 6.4rem;
}
.pricing-container {
  border: 2px solid #fdf2e9;
  padding: 4.6rem;
  border-radius: 11px;
  justify-self: end;
}
.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}
.plan-name {
  color: #cf711f;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 3.2rem;
}
.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}
.price-sign {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}
.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}
.plan-lists {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.plan-list {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  gap: 1.6rem;
}
.icon-list {
  display: block;
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}
.pricing-container-2nd {
  justify-self: start;
  background-color: #fdf2e9;
  position: relative;
  overflow: hidden;
}
.pricing-container-2nd::after {
  content: "Best Value";
  background-color: #ffd43b;
  padding: 0.8rem 3.2rem;
  color: #333;
  position: absolute;
  top: 5%;
  right: -8%;
  transform: rotate(45deg);
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
}
.price-link-container {
  text-align: center;
  margin-top: 4.8rem;
}
.price-link:link,
.price-link:visited {
  font-size: 2rem;
  font-weight: 700;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  text-decoration: none;
  display: inline-block;
  margin-right: 12px;
  background-color: #e67e22;
  color: #fff;
  transition: all 0.3s;
}

.price-link:hover,
.price-link:active {
  background-color: #cf711f;
}

/* aside */

.aside-container {
  text-align: center;
  margin-bottom: 9.6rem;
}
.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
}

/* feature */

.feature-grid-4-cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 6.4rem;
}
.feature-icon {
  color: #e67e22;
  border-radius: 50%;
  background-color: #fdf2e9;
  width: 3.2rem;
  height: 3.2rem;
  padding: 1.6rem;
  margin-bottom: 3.2rem;
}
.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.feature-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

/* *********************************************************************** */

/* login page */

.login {
  padding: 4.8rem 0 12.8rem;
}
.container-login-form {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  background-image: linear-gradient(to right, #eb984e, #e67e22);
  overflow: hidden;
}
.login-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}
.heading-secondary {
  margin-bottom: 3.2rem;
  color: #45260a;
}
.heading-login-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
  color: #45260a;
}

/* login-form-image */
.login-img-box {
  background-image: linear-gradient(to right, #eb974e4b, #e67d2239),
    url(img/eating.jpg);
  background-size: cover;
  background-position: center;
}

.login-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}
.login-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
  color: #333;
}
.login-form input {
  width: 100%;
  font-size: 1.8rem;
  padding: 1.2rem;
  font-family: inherit;
  background-color: #fdf2e9;
  border: none;
  border-radius: 9px;
}
.login-form input::placeholder {
  color: #aaa;
}
.login-form select {
  width: 100%;
  font-size: 1.8rem;
  padding: 1.2rem;
  font-family: inherit;
  background-color: #fdf2e9;
  border: none;
  border-radius: 9px;
  outline: none;
}
.btn-login-form {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.2rem;
  border-radius: 9px;
  border: none;
  background-color: #45260a;
  color: #fdf2e9;
  cursor: pointer;
  transition: all 0.3s;
}
.btn-login-form:hover {
  background-color: #fdf2e9;
  color: #333;
}
.btn-login-form-grid {
  align-self: end;
}
.login *:focus {
  outline: none;
  box-shadow: 0 0 0 0.7rem rgba(253, 242, 233, 0.5);
}

/* *********************************************************************** */

/* footer */
.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}
.footer-logo {
  height: 2.2rem;
  display: block;
  margin-bottom: 3.2rem;
}
.social-media-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}
.social-icons {
  width: 2.4rem;
  height: 2.4rem;
  color: #888;
}
.copyright-text {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: 6.7rem;
}
.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}
.footer-address {
  font-size: 1.6rem;
  color: #767676;
  margin-bottom: 2.4rem;
}
.footer-link {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
}
.footer-link-flex {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
