@tailwind base;
@tailwind components;
@tailwind utilities;

/*color: #09C709, #0097FF, #F46415 */

body {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.main-logo {
  box-shadow: 0 0 0px lightgrey;
  border-radius: 5px;
  margin-bottom: 0px;
}
.logo-container {
  display: flex;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  background: #09c709;
  margin-bottom: 40px;
}
.center-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.left.nav.bar {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: start;
  justify-content: start;
  padding: 5px;
  font: 50px Arial bold;
  letter-spacing: 2px;
  cursor: pointer;
}
button {
  width: 130px;
  padding: 5px 5px 5px 5px;
  font-size: 24px;
  background: #09c709;
  cursor: pointer;
  opacity: 80%;
  /*border: #ffd700 1px solid;*/
  color: white;
  border-radius: 5px;
}
.home:hover,
.search:hover,
.contact:hover {
  transition-duration: 0.1s;
  cursor: pointer;
}
.home:active {
  font-size: 35px;
  transition-duration: 0.1s;
  opacity: 100%;
}
.Lorem {
  flex-shrink: 0;
  flex-grow: 1;
  flex-wrap: wrap;
  flex-basis: 100px;
  box-shadow: 0 0 5px gray;
}
