.settings,
.applicants,
.loans,
.client,
.search,
.home,
.logout {
  box-shadow: 0px 0px 3px #36f159;
  border-radius: 5px;
  font-size: 24px;
  font: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 3px 3px 5px 3px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 3px;
}
.logout {
  box-shadow: 0px 0px 3px #36f159;
  border-radius: 5px;
  font-size: 24px;
  font: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 3px 3px 5px 3px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  margin-top: 40px;
}
.column-header {
  display: flex;
  justify-content: start;
  align-items: start;
  margin-bottom: 40px;
}
.row-header-dashboard {
  display: flex;
  flex: 1;
  padding-left: 10px;
}
.row-header-administrator {
  display: flex;
  padding-right: 10px;
}
.all-header {
  display: flex;
}
.dash-and-admin {
  display: flex;
  align-self: start;
  border: solid 1px rgb(0, 128, 0);
}
.background-header {
  display: flex;
  flex: 1;
  align-self: start;
  box-shadow: 0 5px 5px lightgray;
  background-color: gold;
}

/*h2 {
  flex-wrap: wrap;
  padding-right: 8px;
  background-color: gold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 2px;
}*/
.user-admin {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 1px;
  flex-wrap: wrap;
}
.admin {
  width: 34px;
  height: 34px;
}
.settings:hover {
  box-shadow: 0px 3px 0px #36f159;
  font-size: 25px;
  transition: 0.3s;
}

.applicants:hover {
  box-shadow: 0px 3px 0px #36f159;
  font-size: 25px;
  transition: 0.3s;
}

.loans:hover {
  box-shadow: 0px 3px 0px #36f159;
  font-size: 25px;
  transition: 0.3s;
}

.client:hover {
  box-shadow: 0px 3px 0px #36f159;
  font-size: 25px;
  transition: 0.3s;
}

.search:hover {
  box-shadow: 0px 3px 0px #36f159;
  font-size: 25px;
  transition: 0.3s;
}

.home:hover {
  box-shadow: 0px 3px 0px #36f159;
  font-size: 25px;
  transition: 0.3s;
}

.logout:active {
  box-shadow: 0 0 8px #36f159;
  transition: 0.3s;
  align-self: auto;
}
.logout:hover {
  font-size: 26px;
  transition: 0.3s;
}
